<h2>Cadastro de Funcionário</h2>

<%= form_for(resource, as: resource_name, url: employee_registration_path) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= f.fields_for :attendant_profile do |profile_fields| %>
    <div class="field">
      <%= profile_fields.label :registration_number, "Número de Registro" %><br />
      <%= profile_fields.text_field :registration_number, pattern: '[VG]\\d{4}',
                                    title: 'O número de registro deve estar no formato V1234 ou G1234.' %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres no mínimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Cadastrar" %>
  </div>
<% end %>
